body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
  }
.edge line {
    stroke: black;
    stroke-width: 2;
  }

.node circle {
    /* fill:black; */
    cursor:grab;
    stroke-width: 2;
    /* stroke: fff; */
}
.pagelink text {
    font-family: sans-serif;
    font-size: 12px;
    fill: #3366CC;
    text-decoration: underline;
}